/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
  background: linear-gradient(to right, #001e29 ,#622040, #a74345, #e9a42c);
  width: 100vh;
  height: 100vh;
}
.roulette-canvas{
  position: absolute;
  right: -500px;
  top: 5%;
}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(to right, #001e29cc ,#622040cc, #a74345cc, #e9a42ccc);
}
.isa-redux-logo{
  height: 200px;
}
.ixda-logo-container{
  display: flex;
  justify-content: center;
  width: 484px;
}
.ixda-logo-container img{
  height: 100px;
}
.with-image{
    background-image: url(../img/fondo-lp-lite.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: center;
}
