/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Reset end here*/

body{

  width: 100vh;
  height: 100vh;
}
.roulette-canvas{
  margin-left: -500px;
}
.container{
  width: 100vw;
  height: 100vh;
	box-sizing: border-box;
	display: flex;
	padding: 40px 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /*ISA17 gradient
	background: linear-gradient(to right, #001e29cc ,#622040cc, #a74345cc, #e9a42ccc);*/
}
.isa-redux-logo{
  height: 8em;
}
.ixda-logo-container{
  display: flex;
  justify-content: center;
  width: 484px;
}
.ixda-logo-container img{
	height: 5em;
	padding-left: 4em;
	margin-bottom: 30px;
}
.with-image{
		background-image: url(../img/fondo_sorteo_final.jpg);
		background-color: #0d1636;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.message-zone{
	transition: opacity 0.2s 0.3s ease-in;
	height: 200px;
	top: 40%;
	position: absolute;
	opacity: 0;
}
.message-zone.-show{
	opacity: 1;
}
.roulette-name{
	opacity: 1;
	font-family: Helvetica, Arial, sans-serif;
  text-align: center;
	color:#ffffff80;
	font-size: 2em;
}
.roulette-name.-hide{
	opacity: 0;
}
.winner-title{
  font-family: "Gloss And Bloom", Helvetica, Arial, sans-serif;
  font-size: 3em;
  color: white;
}
#winner-name{
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: 4em;
  margin-top: 25px;
  color: white;
}
.eva-3-btn-ghost{
  box-sizing: border-box;
  border-radius: 4px;
  user-select: none;
  transition: background-color .3s ease-out;
  font-family: helvetica, Arial, sans-serif;
  display: inline-block;
  overflow: hidden;
  outline: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  border: solid 1px white;
  color: white;
  background-color: transparent;
}
.eva-3-btn-ghost.btn-text{
    transition: transform .2s,color .3s,-webkit-transform .2s;
    font-style: normal;
    display: block;
}
.eva-3-btn-ghost.-lg{
  font-size: 16px;
  height: 45px;
  line-height: 44px;
  padding: 0 20px;
	}
	.eva-3-btn-ghost.-md{
		font-size: 14px;
		height: 35px;
		line-height: 35px;
		padding: 0 10px;
		}
.eva-3-btn-ghost:hover,.eva-3-btn-ghost:focus{
	transition-duration: 0s;
	background-color: white;
	text-decoration: none;
	color: black;
}
.eva-3-btn-ghost[disabled]{
	border: none;
	pointer-events: none;
	background-color: transparent !important;

}
.eva-3-btn-ghost[disabled].btn-text{
	color: white !important;
}
.floating-on-the-right{
  position: absolute;
  top: 30%;
  right: 20px;
}
.floating-on-center-bottom{
	display: flex;
	flex-direction: column;
	height: 100px;
	justify-content: space-between;
  position: absolute;
  bottom: 5%;
  right: calc(50% - 20px);
}
.canvas-and-arrow-container{
	position: absolute;
	top: 0;
	left: 0;
	display: inline-flex;
	opacity: 1;transition: opacity .3s .3s linear;
}
.canvas-and-arrow-container.-hide{
	opacity: 0;
}
.confeti {
	visibility: hidden;
	transition: visibility 2s ease;
	position: absolute;
	top: 0;
	left: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}
.confeti.-show{
	visibility: visible;
}


.flecha{
	transform: rotateX(180deg) rotate(270deg);
	height: 50px;
	align-self: center;
	margin-left: -180px;
	margin-top: -18.2em;;
	animation: mymove 1s infinite;
}
@keyframes mymove {
    0% {margin-left: -180px;}
    50% {margin-left: -190px;}
		100% {margin-left: -180px;}
}
@media (max-width: 900px) {

		.isa-redux-logo{
		  height: 6em;
		}

		.ixda-logo-container img{
		  height: 3em;
		  margin-bottom: 30px;
		}
		.roulette-name{
			font-size: 1em;
		}
}
@media (min-width: 1200px), (aspect-ratio: 16/9), (aspect-ratio: 16/10) {
	.with-image{
	    background-image: url(../img/fondo_sorteo_final_large.jpg);
		}
}
